/* Para todas as div's principais que irão "abrigar" o conteúdo das páginas */
.speed-content-main {
	margin-top: 1%;
}

/* Fonte em Negrito */
.font-bold label {
	font-weight: bold;
}

.font-bold span {
	font-weight: bold;
}

/* Margin customizados em porcentagem */
.margin-right-1percent {
	margin-right: 1%;
}

.margin-top-1percent {
	margin-top: 1%;
}

/* Classe para aumentar o tamanho dos ícones do font-awesome */
.mdi-48 {
	font-size: 48px;
}

/* Borda para separar logo do formulário - Página de login */
.custom-border-pink {
	margin-top: 12%;
    border-right: 3px solid #e91e63;
    height: 70%;
}

/* Imagem de background para select customizado - like a Material Pro */
.custom-select {
	background: url(../images/custom-select2.png) right 0.75rem center no-repeat; 
}

/*  Overlay completo na tela - CSS */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 56px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


/* Centralizando mensagem no dropify */
.dropify-message p{
	text-align: center!important;
}

/* Ajustando largura do bootstrap-switch */
.bootstrap-switch-large {
    width: 40%!important;
}

/* Estilizando um <button> para que fique com a aparência de <a> */
.a-href-submit {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    border:none;
    cursor:pointer;
    outline:none;
    padding:0;
    font-family:inherit;
    font-size:inherit;
}

/* Customizando estilo da tab */
.speed-subtab-custom {
    font-weight: bold;
    color: cornflowerblue!important;
}

/* Estilizando o multiselect  */
.ms-container {
    width: 100%!important;
}

.ms-list li{
    font-size: 18px!important;
}

/* TESTES | Vai destacar a div atual para testar posicionamento */
.destacar {
	border: 1px solid black;
	background-color: darkgrey;
}


/* CSS Ckeditor */

.document-editor {
    border: 1px solid var(--ck-color-base-border);
    border-radius: var(--ck-border-radius);

    /* Set vertical boundaries for the document editor. */
    max-height: 700px;

    /* This element is a flex container for easier rendering. */
    display: flex;
    flex-flow: column nowrap;
}
.document-editor__toolbar {
    /* Make sure the toolbar container is always above the editable. */
    z-index: 1;

    /* Create the illusion of the toolbar floating over the editable. */
    box-shadow: 0 0 5px hsla( 0,0%,0%,.2 );

    /* Use the CKEditor CSS variables to keep the UI consistent. */
    border-bottom: 1px solid var(--ck-color-toolbar-border);
}

/* Adjust the look of the toolbar inside the container. */
.document-editor__toolbar .ck-toolbar {
    border: 0;
    border-radius: 0;
}
/* Make the editable container look like the inside of a native word processor application. */
.document-editor__editable-container {
    padding: calc( 2 * var(--ck-spacing-large) );
    background: var(--ck-color-base-foreground);

    /* Make it possible to scroll the "page" of the edited content. */
    overflow-y: scroll;
}

.document-editor__editable-container .ck-editor__editable {
    /* Set the dimensions of the "page". */
    width: 21cm;
    /* min-height: 29.7cm; */

    /* Keep the "page" off the boundaries of the container. */
    padding: 1cm 2cm 2cm;

    border: 1px hsl( 0,0%,82.7% ) solid;
    border-radius: var(--ck-border-radius);
    background: white;

    /* The "page" should cast a slight shadow (3D illusion). */
    box-shadow: 0 0 5px hsla( 0,0%,0%,.1 );

    /* Center the "page". */
    margin: 0 auto;
}
/* Set the default font for the "page" of the content. */
.document-editor .ck-content,
.document-editor .ck-heading-dropdown .ck-list {
    font: 16px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Adjust the headings dropdown to host some larger heading styles. */
.document-editor .ck-heading-dropdown .ck-dropdown__panel .ck-list > .ck-list__item {
    line-height: calc( 1.2 * var(--ck-line-height-base) * var(--ck-font-size-base) );
    min-width: 8em;
}

/* Set the styles for "Heading 1". */
.document-editor .ck-content h2,
.document-editor .ck-heading-dropdown .ck-heading_heading1 {
    font-size: 2.18em;
}

.document-editor .ck-content h2 {
    line-height: 1.37em;
    padding-top: .342em;
    margin-bottom: .142em;
}

/* Set the styles for "Heading 2". */
.document-editor .ck-content h3,
.document-editor .ck-heading-dropdown .ck-heading_heading2 {
    font-size: 1.75em;
    color: hsl( 203, 100%, 50% );
}

.document-editor .ck-heading-dropdown .ck-heading_heading2.ck-list__item_active {
    color: var(--ck-color-list-item-text-active);
}

/* Set the styles for "Heading 2". */
.document-editor .ck-content h3 {
    line-height: 1.86em;
    padding-top: .171em;
    margin-bottom: .357em;
}

/* Set the styles for "Heading 3". */
.document-editor .ck-content h4,
.document-editor .ck-heading-dropdown .ck-heading_heading3 {
    font-size: 1.31em;
}

.document-editor .ck-content h4 {
    line-height: 1.24em;
    padding-top: .286em;
    margin-bottom: .952em;
}

/* Set the styles for "Paragraph". */
.document-editor .ck-content p,
.document-editor .ck-heading-dropdown .ck-heading_paragraph {
    font-size: 1em;
}

.document-editor .ck-content p {
    line-height: 1.63em;
    padding-top: .5em;
    margin-bottom: 1.13em;
}
/* Make the block quoted text serif with some additional spacing. */
.document-editor .ck-content blockquote {
    font-family: Georgia, serif;
    margin-left: calc( 2 * var(--ck-spacing-large) );
    margin-right: calc( 2 * var(--ck-spacing-large) );
}